// Alterar as cores baseado no cliente
$primary-color: #333333;
$secondary-color: #777777;
$background-color: #ffffff;
$text-color: #212529;
$accent-color: #f8f9fa;

// Alterar as fontes baseado no cliente
$primary-font: "Inter", sans-serif;
$secondary-font: "Arial", sans-serif;
